#project-preview {
  #content {
    #for-background {
      background-color: $gray-lighter;

      @include large-screen {
        font-size: $font-size-body-large-screen;
      }
    }

    > .centered-contents {
      margin-top: $line-height-computed;
    }

    h1 {
      padding-bottom: 0;
    }

    #description {
      padding: 1em;
      text-align: justify;
    }

    #go-to-link {
      font-size: 20px;

      margin-bottom: $line-height-computed;
    }

    #edit {
      margin-right: $space-between-fields;
    }
  }
}
